/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
/*
 * Normalization
 */
:root {
  text-size-adjust: 100%; }

audio:not([controls]) {
  display: none; }

details {
  display: block; }

input[type="number"] {
  width: auto; }
input[type="search"] {
  -webkit-appearance: textfield; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

main {
  display: block; }

summary {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

small {
  font-size: 75%; }

template {
  display: none; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

[unselectable] {
  user-select: none; }

/*
 * Universal inheritance
 */
*,
::after,
::before {
  box-sizing: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: inherit;
  vertical-align: inherit; }

/*
 * Opinionated defaults
 */
*,
*::before,
*::after {
  border-style: solid;
  border-width: 0; }

* {
  margin: 0;
  padding: 0; }

:root {
  box-sizing: border-box;
  cursor: default;
  font-family: sans-serif;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
  vertical-align: top; }

* {
  cursor: inherit; }

a,
button,
input,
select,
textarea {
  cursor: initial; }

button,
input,
select,
textarea {
  background: transparent; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

input {
  min-height: 1.5em; }

nav ol,
nav ul {
  list-style: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: vertical; }

::selection {
  background-color: #B3D4FC;
  text-shadow: none; }

@media screen {
  [hidden~="screen"] {
    display: inherit; }

  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important; } }
body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-size: 2em; }

.text-blue {
  color: #2683ee; }

.text-white {
  color: #fff; }

html, body {
  height: 100%; }

body {
  background: #f2f2f2; }

.site-wrapper {
  transition: all 0.3s cubic-bezier(0.94, 0.06, 0.32, 0.95) 0s;
  z-index: 2000;
  position: relative; }

.open {
  transform: translate(-200px, 0); }

.v-container {
  display: table;
  width: 100%;
  height: 100%; }

.u-middle {
  display: table-cell;
  vertical-align: middle; }

.u-uppercase {
  text-transform: uppercase; }

.u-text-center {
  text-align: center; }

.col-centered {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.intro {
  position: relative;
  background-image: url(../images/bg.jpg);
  height: 600px;
  width: 100%;
  color: #fff; }

.intro-wrapper {
  height: 500px;
  position: relative; }

.intro-call {
  text-align: center;
  width: 500px;
  margin: 0 auto; }
  .intro-call h1, .intro-call h4 {
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.4; }

.schedule {
  background: #fff;
  padding: 80px 0; }

.partner {
  background: #f2f2f2;
  padding: 80px 0; }

.partners {
  list-style: none;
  margin: 0; }

.partners-item {
  width: 20%;
  display: table-cell;
  vertical-align: middle; }

.speaker {
  background: #222;
  padding: 80px 0; }

.speakers {
  list-style: none;
  margin: 0; }

.speakers-item {
  display: inline-block;
  width: 25%;
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin: 80px 0 20px -4px; }
  .speakers-item h2 {
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    margin: 10px auto; }
  .speakers-item span {
    font-size: 13px;
    font-weight: 300; }

.speakers-photo {
  width: 120px;
  height: 120px;
  transform: rotate(45deg);
  overflow: hidden;
  background: orange;
  margin: 0 auto; }
  .speakers-photo .photo {
    background-size: cover;
    width: 170px;
    height: 170px;
    margin: -25px;
    transform: rotate(-45deg); }

.speakers-description {
  margin-top: 40px; }

.showcase {
  background: #fff;
  padding: 80px 0; }

.showcases .row {
  margin-bottom: 20px; }
  .showcases .row:last-child {
    margin-bottom: 0; }

.showcases-header {
  background: #222;
  text-align: center; }

.showcases-logo {
  width: 100%;
  padding: 35px; }
  .showcases-logo img {
    max-width: 100%; }

.showcases-body {
  background: #f2f2f2;
  padding: 30px; }

.showcases-title {
  font-size: 18px;
  color: #222;
  font-weight: bold; }

.showcases-description {
  color: #999; }

.showcases-action {
  margin-top: 50px;
  text-align: center; }

.download {
  background: #2683ee;
  padding: 80px; }

.download-title {
  margin-bottom: 20px; }

.download-description {
  margin: 20px 0;
  color: #fff; }

.subscribe {
  background: #fff;
  padding: 80px 0; }

.subscribe-date {
  font-size: 31px;
  color: #999;
  text-transform: uppercase;
  font-weight: bold; }

.place {
  background: #2683ee;
  padding: 80px 0; }

.place-map img {
  max-width: 100%; }

.place-map-description h2, .place-map-description p {
  font-size: 14px;
  color: #fff; }
.place-map-description h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0; }

.hotels {
  margin-top: 40px;
  text-align: center; }

.place-action {
  text-align: center;
  margin-top: 40px; }

.btn {
  border: 2px solid transparent;
  padding: 15px 30px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  line-height: 1.6;
  cursor: pointer;
  transition: all .3s ease;
  color: #fff; }

.btn-line-white {
  border-color: #fff; }
  .btn-line-white:hover {
    background: #fff;
    color: #0c2849; }

.btn-line-blue {
  border-color: #2683ee;
  color: #2683ee; }
  .btn-line-blue:hover {
    background: #2683ee;
    color: #fff; }

.btn-subscribe {
  margin-top: 30px; }

.btn-more {
  margin-top: 20px; }

.date {
  background: #2683ee;
  color: #fff;
  width: 80px;
  height: 80px;
  padding: 10px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  transform: rotate(45deg);
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: -40px; }

.date-day {
  font-size: 31px;
  font-weight: 700;
  transform: rotate(-45deg);
  position: relative;
  top: 2px;
  left: -7px; }

.date-month {
  text-transform: uppercase;
  transform: rotate(-45deg);
  position: relative;
  left: 10px;
  top: -12px; }

.schedule-box {
  background: #f2f2f2;
  list-style: none;
  margin: 0;
  margin-top: 80px; }

.schedule-header,
.schedule-break {
  background: #e8e8e8; }

.schedule-item {
  padding: 20px 0 20px 68px;
  border-bottom: 1px solid #e2e2e2; }

.schedule-info {
  float: left; }

.schedule-header {
  padding: 50px 0 10px 68px;
  position: relative; }
  .schedule-header .title {
    text-transform: uppercase; }

.schedule-title {
  font-size: 16px;
  margin: 0;
  color: #2683ee;
  font-weight: bold;
  line-height: 1.4; }

.schedule-hours {
  font-size: 16px;
  color: #aaa;
  font-weight: bold;
  float: left;
  width: 60px;
  text-align: center; }

.schedule-speaker {
  color: #222; }

.schedule-place {
  color: #999; }
  .schedule-place:before {
    content: "| "; }

.schedule-break .title {
  margin-bottom: 0;
  text-transform: uppercase; }

.header {
  padding: 50px 0; }

.nav {
  float: right;
  width: 30px; }

.menu {
  cursor: pointer;
  display: block; }
  .menu span {
    display: block;
    height: 5px;
    width: 100%;
    background: #fff;
    margin-top: 6px;
    transition: all 1s;
    position: relative; }

.menu.menu-close span:first-child {
  transform-origin: left center;
  transform: rotate(45deg); }
.menu.menu-close span:nth-child(2) {
  transform-origin: left center;
  background: transparent;
  width: 0%; }
.menu.menu-close span:last-child {
  transform-origin: left center;
  transform: rotate(-45deg); }

.section-title {
  text-align: center;
  margin: 0;
  font-weight: bold;
  margin-bottom: 40px; }

.side-nav {
  position: fixed;
  background: #222;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
  width: 200px;
  color: #fff;
  transition: all 1s;
  box-shadow: inset 2px 0 3px rgba(0, 0, 0, 0.8);
  padding: 15px 0; }
  .side-nav li {
    text-transform: capitalize; }
  .side-nav a {
    padding: 15px 15px;
    display: block;
    width: 100%;
    cursor: pointer;
    transition: all .2s;
    color: #fff; }
    .side-nav a:hover {
      background: #333;
      color: #fff;
      text-decoration: none; }

/*# sourceMappingURL=main.css.map */
