.side-nav {
  position: fixed;
  background: #222;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
  width: 200px;
  color: #fff;
  transition: all 1s;
  box-shadow: inset 2px 0 3px rgba(0, 0, 0, .8);
  padding: 15px 0;

  li {
    text-transform: capitalize;
  }

  a {
    padding: 15px 15px;
    display: block;
    width: 100%;
    cursor: pointer;
    transition: all .2s;
    color: #fff;

    &:hover {
      background: #333;
      color: #fff;
      text-decoration: none;
    }
  }
}
