html, body {
  height: 100%;
}

body {
  background: #f2f2f2;
}

.site-wrapper {
  transition: all .3s cubic-bezier(0.94, 0.06, 0.32, 0.95) 0s;
  z-index: 2000;
  position: relative;
  background: #f2f2f2;
}

.open {
  transform: translate(-200px, 0);
}

a {
  cursor: pointer;
}

.no-bg {
  padding-top: 40px !important;

  .section-title {
    padding-top: 0 !important;
  }
}