body { font-family: 'Open Sans', sans-serif; }

h1 { font-size: 2em; }


.text-blue { color: $brand-blue-light !important; }

.text-white { color: #fff !important; }

.text-yellow { color: $brand-yellow !important; }
