$brand-green-medium:  #33a555;
$brand-red-medium:    #a53355;
$brand-blue-light:    #08afe4;
$brand-blue-medium:   #011631;
$brand-gray-light:    #f2f2f2;
$brand-gray-medium:   #e8e8e8;
$brand-gray-high:     #aaa;
$brand-black-light:   #222;
$brand-yellow:        #fcff00;
