.download {
  background: $brand-blue-light;
  padding: 80px;


  a + a {
    margin-left: 20px;
  }
}

.download-title {
  margin-bottom: 20px;
}

.download-description {
  margin: 20px 0;
  color: #fff;
}
