.download {
  background: $brand-blue-medium;
  padding: 80px 0 90px;


  a + a {
    margin-left: 20px;
  }
}

.download-title {
  margin-bottom: 10px !important;
}

.download-description {
  margin: 0 0 20px 0;
  color: #fff;
}
