.intro {
  position: relative;
  background-image: image-url('bg.jpg');
  height: 600px;
  width: 100%;
  color: #fff;
  margin-bottom: 50px;
}

.intro-wrapper {
  height: 500px;
  position: relative;
}

.intro-call {
  text-align: center;
  width: 500px;
  margin: 0 auto;

  h1, h4 {
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.4;
  }
}
