.intro {
  background-image: image-url('home-header.png');
  background-size: cover;
  background-position: bottom center;
  position: relative;
  height: 601px;
  width: 100%;
  color: #fff;
}

.intro-wrapper {
  position: relative;
  padding: 190px 0 0 0;
}

.intro-call {
  text-align: center;

  .slogan-intro { padding-top: 20px; }

  h1,{
    margin-bottom: 20px;
    line-height: 1.4;
  }
  h4 {
    font-weight: 700;
    color: $brand-blue-medium;
  }
}

@media screen and (max-width: 767px) {
  .intro-wrapper { padding-top: 50px; }
  .intro-call h1 { margin-bottom: 10px; }
  .intro-call h4 { margin-bottom: 0px; }
  .slogan-intro { padding-top: 30px; }
}

@media screen and (max-width: 380px) {
  .intro-wrapper {
    .col-md-12 {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}