// ======== Index page

.posts {
  color: $brand-black-light;
  background-color: white;
  padding-bottom: 40px;
  padding-top: 10px;
}

.post {
  background-color: white;
  padding: 80px 0 90px;
}

.post-content {
  line-height: 2.3rem;
}

.posts-link {
  cursor: pointer;
  color: $brand-black-light;
  display: block;
  padding: 10px 0 30px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;

  &:hover {
    text-decoration: none;
    color: $brand-black-light;
    .posts-title { color: $brand-blue-light; }
  }
}

.posts-title {
  font-size: 4rem;
  font-weight: bold;
  color: $brand-blue-medium;
  &:hover { color: $brand-blue-light; }
}

.posts-description {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: #444;
}
span.posts-date {
  font-size: 1.4rem !important;
  color: #999 !important;
  span {
    margin-right: 5px;
  }

}
.posts-author {
  font-size: 1.4rem;
  color: #999;
  border-right: 1px solid #CCC;
  margin-right: 10px;
  padding-right: 10px;
  span {
    margin-right: 5px;
  }
}

.posts-action {
  text-align: center;
  margin: 40px 0;
}

// ======== Show page

.post-title {
  font-size: 5rem;
  font-weight: bold;
}

.post-header {
  margin-bottom: 40px;
}
