.schedule {
  background-image: image-url('home-agenda.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  padding: 120px 0 100px 0;
}

.schedule-sympla {
  background-color: #fff;
  padding: 70px 0 60px 0;
}

.triangle {
  width: 100%;

  img {
    max-width: 100%;
  }
}
