.speaker {
  background-image: image-url('home-speakers.png');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  padding: 80px 0 90px;
  &.no-bg {
    background-image: none;
    background-color: #fff;
    .speakers-information,
    .speakers-information a,
    .speakers-bio { color: $brand-blue-medium; }
  }
}

.speakers {
  list-style: none;
  margin: 0;
}

.speakers-item {
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding-top: 30px;

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto 5px auto;
  }

  span {
    font-size: 13px;
    line-height: 16px !important;
    font-weight: 300;
  }
}

.speakers-photo {
  width: 120px;
  height: 120px;
  transform: rotate(45deg);
  overflow: hidden;
  background: orange;
  margin: 0 auto;

  .photo {
    background-size: cover;
    width: 170px;
    height: 170px;
    margin: -25px;
    transform: rotate(-45deg);
  }
}

.speakers-description {
  margin-top: 40px;
  margin-bottom: 5px;

  h2 {
    width: 100%;
    overflow: hidden;
    height: 20px;
  }
}

.speakers-information {
  color: #fff;
  width: 100%;
  overflow: hidden;
  height: 20px;

  a {
    color: #fff;
    cursor: pointer;
  }
}

.speakers-bio {
  height: 36px;
  overflow: hidden;
  margin-bottom: 10px;
  color: $brand-blue-medium;
}
