.footer {
  background: $brand-blue-light;
  width: 100%;
  padding: 20px 0;


  img {
    margin-top: 10px;
    max-width: 100%;
  }
}

.footer-logos {
  @media screen and (max-width: 767px) {
    img { margin-bottom: 10px;}
    img.footer-logo {
      max-width: 180px;
      width: 100%;
    }
  }
}

.footer-email {
  display: inline-block;
  margin-top: 14px;
  font-size: 13px;
  text-align: right;
}

.social-links {
  margin: 3px 0 0 0;

  li {
    display: inline-block;

    & + li {
      margin-left: 10px;
    }
  }

  a {
    display: block;
    height: 40px;
    width: 40px;
    background: $brand-blue-medium;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    border-radius: 50%;
    color: #fff;

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }

}

@media screen and (max-width: 338px) {
  .social-links {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  .footer-email {
    text-align: center;
    margin: 0 auto;
    padding: 5px 0 15px 0;
    width: 100%;
  }
}
