.date {
  background: $brand-blue-light;
  color: #fff;
  width: 80px;
  height: 80px;
  padding: 10px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  transform: rotate(45deg);
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: -40px;
}

.date-day {
  font-size: 31px;
  font-weight: 700;
  transform: rotate(-45deg);
  position: relative;
  top: 2px;
  left: -7px;
}

.date-month {
  text-transform: uppercase;
  transform: rotate(-45deg);
  position: relative;
  left: 10px;
  top: -12px;
}

.date-year {
  text-transform: uppercase;
  transform: rotate(-45deg);
  position: relative;
  left: 25px;
  top: -20px;
}

// <div class="date">
//   <div class="date-day">21</div>
//   <div class="date-month">Ago</div>
// </div>
