.modal {
  text-align: left;
  color: $brand-black-light;
}

.modal-title {
  line-height: 1.2;
}

body.modal-open {
  padding-right: 0 !important;
}

.close span {
  font-size: 21px !important;
  font-weight: 700 !important;
}
