.modal {
  text-align: left;
  color: $brand-black-light;
}

.modal-title {
  line-height: 1.2;
}

body.modal-open {
  width: 100%;
  .modal-dialog {
    z-index: 1500;
  }
  .site-wrapper {
    z-index: auto;
  }
  .side-nav {
    z-index: auto;
    display: none;
    a {
      padding: 0;
    }
  }
  .menu {
    margin-right: 13px;
    z-index: 1020;
  }
}

.close span {
  font-size: 21px !important;
  font-weight: 700 !important;
}
