.pagination-wrapper {
  text-align: center;
  margin: 40px 0;
}

.pagination {
  margin: 0 auto;
  text-align: center;

  span {
    display: inline-block;

    &.current {
      color: white;
      background-color: $brand-blue-light;
      padding: 12px 17px;
      border-radius: 3px;
    }
    a {
      padding: 10px 16px;
      cursor: pointer;
      border: 2px solid $brand-blue-light;
      color: $brand-blue-light;
      border-radius: 3px;
      font-weight: bold;
      display: block;
      color: $brand-blue-light;
      cursor: pointer;

      &:hover {
        text-decoration: none;
        border-radius: 3px;
        color: white;
        background-color: $brand-blue-light;
      }
    }
  }
}
