.schedule-box {
  background: $brand-blue-medium;
  list-style: none;
  margin: 0;
  margin-top: 80px;
  li.schedule-item:nth-child(1) { border: 0px; }

  li.schedule-item:nth-child(2) {
    background-color: $brand-blue-light;
    .schedule-title { color: $brand-blue-medium; }
  }
  li.schedule-item:last-child { border: 0px; }
}

.schedule-header,
.schedule-break {
  background: $brand-blue-light;
}

.schedule-item {
  padding: 20px 0 20px 68px;
  border-bottom: 1px solid #fff;
}

.schedule-info {
  float: left;
}

.schedule-header {
  padding: 50px 0 10px 68px;
  position: relative;

  .title {
    text-transform: uppercase;
  }
}

.schedule-title {
  font-size: 16px;
  margin: 0; // bootstrap
  color: $brand-blue-light;
  font-weight: bold;
  line-height: 1.4;
}

.schedule-hours {
  font-size: 16px;
  color: $brand-yellow;
  font-weight: 700;
  float: left;
  width: 70px;
  text-align: left;
}

.schedule-speaker {
  color: #777;
}

.schedule-place {
  color: #fff;

  &:before {
    content: "  |  ";
  }
}


.schedule-break {
  .title {
    margin-bottom: 0;
    text-transform: uppercase;
  }
}


@media screen and (max-width: 660px) {
  .schedule-hours,
  .schedule-title,
  .schedule-speaker,
  .schedule-place,
  .schedule-item,
  .schedule-info {
    width: 100%;
    display: block;
    text-align: center;
    float: none;
  }

  .schedule-item {
    padding: 20px 0;
  }

  .schedule-header {
    padding-top: 70px;
  }

  .schedule-place:before {
    content: '';
  }
}
